* {
    padding: 0;
    margin: 0;
}

.Login {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.439); */
}

.Login::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../Images/black-shiny-fabric-textile.jpg) no-repeat;
    filter: blur(7px);
    object-fit: cover;
    background-position: center;
    z-index: -1;
}

.Login img {
    width: 200px;
    margin-bottom: 20px;
}

.Login .Form {
    display: flex;
    width: 20%;
    right: 0px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.483);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.243);
    padding: 20px;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(20px);
}

.Login .Form h2 {
    margin-bottom: 20px;
    color: white;
}

.Login form input {
    width: 80%;
    margin-bottom: 20px;
    padding: 12px 7px;
    border-radius: 10px;
    outline: none;
    border: 0;
    background-color: rgba(255, 255, 255, 0.123);
    font-family: 'Space Grotesk';
    font-size: 14px;
}
::placeholder{
    color: rgba(255, 255, 255, 0.3);
}
.Login form input[type=text],
input[type=password],
input[type=email] {
    font-family: 'Space Grotesk';
    font-size: 14px;
    color: white;
}

.Login .Form .Pass-Visual {
    display: flex;
    justify-content: flex-start;
    transform: translate(35px, -10px);
    margin: 10px 0px;
}

.Login .Form .Pass-Visual i {
    color: rgb(191, 255, 0);
    cursor: pointer;
}

.Login .Form .Pass-Visual p {
    padding-left: 10px;
    font-size: 12px;
}

.Login form button {
    width: 85%;
    background-color: firebrick;
    outline: none;
    border: 0;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: 'Space Grotesk';
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.232); */
    margin-bottom: 20px;
}

.Login form button:hover {
    transform: scale(1.02);
    background-color: rgb(208, 41, 41)
}

.Login form input:hover {
    border: 1px solid rgba(255, 255, 255, 0.232);
}

.Login .Form p,
a {
    font-family: 'Space Grotesk';
    font-size: 14px;
    color: white;
}

.Login .Form p a:hover {
    color: rgb(191, 255, 0);
}

/* Icons */
.Login .Form #Name {
    position: relative;
}

.Login .Form #Name::after {
    content: '\f007';
    font-family: 'Font Awesome 6 Free';
    font-weight: 800;
    color: rgb(191, 255, 0);
    position: absolute;
    right: 50px;
    top: 12px;
}

.Login .Form #Email {
    position: relative;
}

.Login .Form #Email::after {
    content: '\f0e0';
    font-family: 'Font Awesome 6 Free';
    font-weight: 800;
    color: rgb(191, 255, 0);
    position: absolute;
    right: 50px;
    top: 12px;
}

.Login .Form #Password {
    position: relative;
    transform: translateY(15px);
    margin-bottom: 20px;
}

.Login .Form #Password a {
    position: absolute;
    font-size: 12px;
    right: 40px;
    top: -20px;
}

.Login .Form #Password a:hover {
    color: rgba(191, 255, 0, 0.587);
}

.Login .Form #Password::after {
    content: '\f023';
    font-family: 'Font Awesome 6 Free';
    font-weight: 800;
    color: rgb(191, 255, 0);
    position: absolute;
    right: 50px;
    top: 12px;
}

.Login .Form .RememberMe {
    display: flex;
    background-color: darkgoldenrod;
}

.Login .Form .RememberMe input[type=checkbox] {
    height: 20px;
}