*{
    padding: 0;
    margin: 0;
}
.Sign-Up{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.492); */
}
.Sign-Up::before{
    content:'';
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    background: url(../Images/sign-up-bg-img-05.png) no-repeat;
    filter: blur(7px);
    object-fit: cover;
    background-position:center;
    z-index: -1;
}
.Sign-Up img{
    width: 200px;
    margin-bottom:20px;
}
.Sign-Up .Form{
    display: flex;
    width: 20%;
    right: 0px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 20px;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(20px);
}
.Sign-Up .Form h2{
    margin-bottom:20px;
    color: white;
}
.Sign-Up form input{
    width: 80%;
    margin-bottom: 20px;
    padding: 12px 7px;
    border-radius: 10px;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.275);
    font-family: 'Space Grotesk';
    font-size: 14px;
}
.Sign-Up form input[type=text], input[type=password], input[type=email]{
    font-family: 'Space Grotesk';
    font-size:14px;
    color: white;
}
.Sign-Up .Form .Pass-Visual{
    display: flex;
    justify-content: flex-start;
    transform: translate(35px, -10px);
    margin:10px 0px;
}
.Sign-Up .Form .Pass-Visual i{
    color: rgb(191, 255, 0);
    cursor: pointer;
}
.Sign-Up .Form .Pass-Visual p{
    padding-left:10px;
    font-size:12px;
}
.Sign-Up form button{
    width: 85%;
    background-color: firebrick;
    outline: none;
    border: 0;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: 'Space Grotesk';
    margin-bottom: 20px;
}
.Sign-Up form button:hover{
    transform: scale(1.02);
    background-color: rgb(208, 41, 41)
}
.Sign-Up form input:hover{
    border: 1px solid rgb(255, 255, 255);
}
.Sign-Up .Form p, a{
    font-family: 'Space Grotesk';
    font-size: 14px;
    color: white;
}
.Sign-Up .Form p a:hover{
    color:rgb(191, 255, 0);
}

/* Icons */
.Sign-Up .Form #Name{
    position: relative;
}
.Sign-Up .Form #Name::after{
    content: '\f007';
    font-family: 'Font Awesome 6 Free';
    font-weight: 800;
    color: rgb(191, 255, 0);
    position: absolute;
    right:50px; top:12px;
}
.Sign-Up .Form #Email{
    position: relative;
}
.Sign-Up .Form #Email::after{
    content: '\f0e0';
    font-family: 'Font Awesome 6 Free';
    font-weight: 800;
    color: rgb(191, 255, 0);
    position: absolute;
    right:50px; top:12px;
}
.Sign-Up .Form #Password{
    position: relative;
}
.Sign-Up .Form #Password::after{
    content: '\f023';
    font-family: 'Font Awesome 6 Free';
    font-weight: 800;
    color: rgb(191, 255, 0);
    position: absolute;
    right:50px; top:12px;
}